@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@200;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    padding: 1rem;
    background-color: #20232b;
    color: white;
    font-family: Poppins, sans-serif;
    min-width: fit-content;
    aspect-ratio: 2.5 / 3;
}

.solidet-text {
    font-family: Orbitron, sans-serif;
    font-size: 1rem;
}

input[type="color"] {
    visibility: hidden;
}

.custom-color-picker {
    height: 32px;
    width: 32px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: currentcolor;
    box-shadow: inset 0 0 0 2px #43434a, inset 0 0 0 4px black;
    cursor: pointer;
}

#resetColorsButton {
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    border: none;
    background-color: #17191f;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#resetColorsButton:hover {
    background-color: #0b0c0f;
}
